# For more information, see:
#   - https://atom.io/docs/latest/creating-a-package#language-grammars
#   - http://manual.macromates.com/en/language_grammars.html

# Do not pollute the global scope
'scopeName': 'preview'
