'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Atom Preview'
      'submenu': [
        { 'label': 'Toggle Atom Preview', 'command': 'atom-preview:toggle' }
      ]
    ]
  }
]
