###
# For more information: https://atom.io/docs/latest/creating-a-package#context-menu
###

'context-menu':
  'atom-text-editor': [
    {label: 'Toggle Preview', command: 'preview:toggle'}
    {label: 'Toggle Preview Options', command: 'preview:toggle-options'}
    {label: 'Select Preview Renderer', command: 'preview:select-renderer'}
  ]
