@require 'external'

#menu
    column(12)
    ul
        @extend .horizontal
        margin: 15px 0px
        li
            border-left: 1px solid grey
            &:first-child
                border-left: 0
